<!doctype html>
<html>
  <head>
    <title>Products</title>
  </head>
  <body>
    <h1>Product List</h1>
    <a href="/add/">Add Product</a>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Category</th>
        <th>Supplier</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.supplier }}</td>

        <td>
          <a href="/edit/{{ product.id }}">Edit</a>
        </td>
        <td>
          <a href="/delete/{{ product.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
